img {
    max-width: 100%;
}
        .main {
            display: flex;

        }

        .base {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .overlay {
            z-index: 1;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            margin: auto;

        }